body{
    font-family: Arial;
}

.grid,
.to-do{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
}

.to-do{
    margin-bottom: 10px;
    align-items: stretch;
}

.name-input,
.due-input{
    font-size: 15px;
    padding: 6px;
}
.add-button{
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 15px;
}
.delete-button{
    background-color: darkred;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 15px;
    padding: 6px;
}